@import "../../../styles/variables.module.scss";

.backBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 30px;
  align-self: start;
  width: 152px;
  white-space: nowrap;
  background-color: transparent;
  color: $text-color;
  border: none;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  &:hover {
    background-color: inherit;
  }
}
.actionSection {
  justify-content: space-between;
  gap: 15px;
}
.actionBtnContainer {
  gap: 15px;
}
.actionBtn {
  height: 40px;
  width: 170px;
  color: $red;
  border: 1px solid $red;
  background-color: transparent;
  text-transform: uppercase;
  &--green {
    color: $primary-color;
    border-color: $primary-color;
  }
  &:hover {
    background-color: inherit;
  }
}
.basicInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $white;

  min-height: 210px;
  width: 100%;
  border-radius: 5px;
  padding: 25px 25px 0 25px;
  border: 1px solid $header-shade-1;
}
.genInfoContainer {
  background-color: $white;
  min-height: 510px;
  width: 100%;
  border-radius: 5px;
  padding: 25px;
  border: 1px solid $header-shade-1;
}
.basicInfoUpperSec {
  gap: 20px;
  align-items: center;
  color: $header-color;
  h4{
    font-weight: 500;
    font-size: 20px;
  }
  .userID{
    color: $text-color;
    font-weight: 400;
    font-size: 14px;
  }
  .userTire{
      color: $text-color;
    font-weight: 600;
    font-size: 14px;
  }
  .bankInfo{
     font-weight: 400;
    font-size: 12px;
  }
}
.basicInfoStack {
  gap: 10px;
}
.basicInfoWithBorder {
  margin-inline: 15px;
  padding-inline: 25px;
  border-left: 2px solid $header-shade-1;
  border-right: 2px solid $header-shade-1;
  @media (max-width: 600px) {
    margin-inline: 0;
    padding-inline: 0;
    border-left: none;
    border-right: none;
  }
}
