$primary-color: #39cdcc;
$secondary-color: #f3fcfc;
$header-color: #213f7d;
$text-color: #545f7d;
$white: #ffffff;
$dashboard-color: #fbfbfb;
$light-gray: #f5f5f7;
$yellow: #e9b200;
$light-yellow: #fdf7e6;
$red: #e4033b;
$light-red: #fde6eb;
$green: #39cd62;
$light-green: #f3fcf6;
$inactive-gray: #545f7d26;
$gray: #e6e7ec;
$shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
$gray-shade-2: #7a8cb1;
$gray-shade-3: #e0e0e0;
$gray-shade-4: #ccc;
$gray-shade-5: #f2f3f7;
$gray-shade-6: #e2e5eb;
$gray-shade-7: #f9f9f9;

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  headerColor: $header-color;
  textColor: $text-color;
  whiteColor: $white;
  dashboardBgColor: $dashboard-color;
  lightGrayColor: $light-gray;
  lightYellow: $light-yellow;
  yellowColor: $yellow;
  lightRed: $light-red;
  redColor: $red;
  greenColor: $green;
  lightGreen: $light-green;
  inactiveGray: $inactive-gray;
  grayColor: $gray;
  boxShadowColor: $shadow;
  grayShadeTwo: $gray-shade-2;
  grayShadeThree: $gray-shade-3;
  grayShadeFour: $gray-shade-4;
  grayShadeFive: $gray-shade-5;
  grayShadeSix: $gray-shade-6;
  grayShadeSeven: $gray-shade-7;
}
