@import "../../../styles//variables.module.scss";
.tableRow {
  border-bottom: 1px solid $gray-shade-6;

  &:hover {
    background-color: $gray-shade-7;
  }
}

.cell {
  padding: 12px 8px;
  font-size: 14px;
  font-weight: 400;
  color: $text-color;
  white-space: nowrap;
}
